
{% extends 'base.html' %}

{% block content %}
   {% csrf_token %}
<div class="password_reset">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <button type="submit" class="btn btn-default password_reset_btn">Submit</button>
  <div class="form-group">
    <label for="email">OTP</label>
    <input type="text" class="form-control" id="otp">
  </div>
  <button type="submit" class="btn btn-default otp_btn">Submit</button>
  <p><span>Otp will expire in </span><span id="counter">45</span></p>
</div>
{% endblock %}
