{% extends 'base.html' %}
{% block content %}
    {% csrf_token %}
    <div class="container login">
        <div class="row justify-content-center">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Reset Password</h4>
                        <p class="reset_info_msg">Hi <b>{{user.username|default:'hello'}}</b>, Its an good idea to use strong password</p>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="New password" 
                                       required id="id_new_pass" maxlength="15" name="email" type="password" value="" />
                                <span class="err_pass_msg no_display">
                                    <b>*</b> Password should not contain special characters / password length should be more than 8 characters
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Conform password" 
                                       required id="id_con_pass" maxlength="15" name="email" type="password" value="" />
                                <span class="err err_con_msg no_display">
                                    <b>*</b> New password and conform password doesn't match
                                </span>
                            </div>
                            <div class="form-group">
                                <div class="otp_info_msg_div">
                                </div>
                                <input class="btn btn-md btn-success btn-block" id="reset_password" type="submit" disabled value="Reset password">
                            </div>
                        </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
