<body style="background: #fffaec;">
<div style="box-sizing:border-box;font-size:14px;width:100%!important;height:100%;line-height:1.6em;margin:0" bgcolor="#f6f6f6">
        <table style="box-sizing:border-box;font-size:14px;width:100%;margin:0;background:#bcb8b8">
            <tbody><tr style="box-sizing:border-box;font-size:14px;margin:0">
                <td width="600" style="box-sizing:border-box;font-size:14px;vertical-align:top;display:block!important;max-width:600px!important;clear:both!important;margin:0 auto" valign="top">
                    <div style="box-sizing:border-box;font-size:14px;max-width:600px!important;display:block;margin:0 auto;padding:20px">
                        <table width="100%" cellpadding="0" cellspacing="0" style="box-sizing:border-box;font-size:14px;border-radius:6px;background-color:#fff;margin:0" bgcolor="#fff">
                            <tbody><tr style=" box-sizing:border-box;font-size:14px;margin:0">
                                <td style="box-sizing:border-box;font-size:16px;vertical-align:top;font-weight:500;margin:0;" valign="top">
									<div style="display: inline-flex;
												align-items: center;
												margin-bottom: 1rem;">
									</div>

        						            </td>
                            </tr>
                            <tr style="box-sizing:border-box;font-size:14px;margin:0">
                                <td style=" box-sizing:border-box;font-size:14px;vertical-align:top;margin:0;padding:20px 40px 40px 40px" valign="top" colspan="2">
                                    <table width="100%" cellpadding="0" cellspacing="0" style="box-sizing:border-box;font-size:14px;margin:0">
                                        <tbody><tr style="box-sizing:border-box;font-size:14px;margin:0">
                                            <td style=" box-sizing:border-box;font-size:16px;line-height:24px;vertical-align:top;margin:0;word-wrap:break-word" valign="top">
<p>Hello <b>{{name}}</b>, please use the below generated otp to login to Mock fb</p>
<h2 style="margin-left:10rem;color:blue">{{otp}}</h2>
<h4 style="margin-left:12rem;">or</h4>
<a href="{{pass_reset_url}}">click here to Reset password</a>
<br>
<p style="font-size:0.9rem;">Mock Fb is an project which can be used as an dummy project</p>
<p style="font-size:0.9rem;">Welcome and thanks!</p>
        									                  </td>
        								                </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                        <div style=" box-sizing:border-box;font-size:14px;clear:both;color:#999;margin:0;padding:20px 40px">
        					          <table width="100%" style=" box-sizing:border-box;font-size:14px;margin:0">
                                <tbody><tr style=" box-sizing:border-box;font-size:14px;margin:0">
                                    <td style=" box-sizing:border-box;font-size:12px;vertical-align:top;color:#888;margin:0" valign="top">
                                    </td>
        						            </tr>
                            </tbody></table>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody></table>
    </div></div>
</body> 
