<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <button>Z</button>
    </li>
    <li class="nav-item">
      <div class="inline"> 
		  <input type="text"laceholder="Search here" class="top-nav-search-box no-border">
		  <button class="no-border nav-search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </li>
  </ul>
  <ul class="navbar-nav mr-auto right-navbar-ul">
    <li class="nav-item">
       <div class="right-nav-div">
        <i class="fa fa-list-alt" aria-hidden="true"></i>
        <span>Feeds</span>
       </div>
    </li>
    <li class="nav-item">
       <div class="right-nav-div">
        <i class="fa fa-th-list white-col" aria-hidden="true"></i>
        <span>Jobs</span>
       </div>
    </li>
    <li class="nav-item">
       <div class="right-nav-div">
        <i class="fa fa-bell" aria-hidden="true"></i>
        <span>Msgs</span>
       </div>
    </li>
    <li class="nav-item">
       <div class="right-nav-div">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <span>Settings</span>
       </div>
    </li>
    <li class="nav-item">
       <div class="right-nav-div">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        <span>profile</span>
       </div>
    </li>
  </ul>
</nav>

